<ion-view view-title="Geo">
<ion-content padding="10" ng-controller="GeoCtrl">


<form name="form" ng-submit="register(sexe)">
<!-- <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Airplane Mode</ion-toggle> -->


	<ul class="list">

		<li class="item item-toggle">
			Activé geolocalistation
			<label class="toggle toggle-calm">
				<input ng-model="loginData.checkbox" type="checkbox">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
	</ul>
	<div class="list">
		<label class="item">
			<span class="input-label">Perimètre de recherche: </span><br/>
			<div class="range range-positive">
				<input type="range" name="volume" min="1" max="100" value="{{loginData.min}}" step="1" ng-model="loginData.age" required>
				{{loginData.age}} Km
			</div>
		</label>
	</div>

	<button class="button button-block button-calm" ng-disabled="form.$invalid" type="submit">Envoyer</button>
</form>


</ion-content>
</ion-modal-view>