<ion-view view-title="Match">
<ion-content padding="10" ng-controller="MatchCtrl">
<div class="list">

	<a ng-repeat="item in dislike" class="item item-avatar" ui-sref="app.messenger({userid: item.id})">
		<img ng-src="{{ item.image }}">
		{{item.id}}
		<h2>{{ item.pseudo }}</h2>
		<p>Back off, man. I'm a scientist.</p>
	</a>

</div>

<!--   <a ng-repeat="item in dislike" class="item item-thumbnail-left">
  <img ng-src="{{ item.image }}">
  <h2>{{ item.pseudo }}</h2>
  <h2>{{ item.age }} ans</h2>
  <h4>{{ item.description }}</h4>
</a>

</div> -->


</ion-content>
</ion-view>
