<ion-view view-title="Register">
<ion-header-bar>
<h1 class="title">Register</h1>
<div class="buttons">
	<button class="button button-clear" ng-click="closeLogin()">Close</button>
</div>
</ion-header-bar>
<ion-content padding="10">
<form name="form" ng-submit="register(sexe)">
	<div class="list">
		<label class="item item-input">
			<span class="input-label">Email *</span>
			<input type="text" name="email" ng-model="loginData.email" required>
		</label>
	</div>
	<div class="list">
		<label class="item item-input">
			<span class="input-label">Pseudo</span>
			<input type="text" ng-model="loginData.pseudo" required>
		</label>
	</div>
	<div class="list">
		<label class="item">
			<span class="input-label">Age</span>
			<div class="range range-positive">
				<input type="range" name="volume" min="18" max="100" value="{{loginData.min}}" step="1" ng-model="loginData.age" required>
				{{loginData.age}}
			</div>
		</label>
	</div>
	<div class="list">
		<label class="item item-input item-select">
			<div class="input-label">
				Sexe :
			</div>
			<select ng-model="sexe" ng-change="showSelectValue(mode)">
				<option value="1" selected>Mal</option>
				<option value="2">femel</option>
				<option value="3">Autre</option>
			</select>
		</label>
	</div>
	<div class="list">
		<label class="item item-input">
			<span class="input-label">Password min 6</span>
			<input type="password" name="password" ng-model="loginData.password" ng-minlength="6" required>
		</label>
	</div>
	<div class="list">
		<label class="item item-input">
			<span class="input-label">Password confirm</span>
			<input type="password" ng-model="loginData.passwordc" ng-minlength="6" required>
		</label>
		{{errors}}
	</div>
	<button class="button button-block button-calm" ng-disabled="form.$invalid" type="submit">Envoyer</button>
	<p ng-show="form.email.$error.required">* Email is required</p>
	<p ng-show="form.password.$error.minlength">* Password must be longer than 6 characters</p>
</form>
</ion-content>
</ion-modal-view>
