<ion-modal-view>
<ion-header-bar>
<h1 class="title">Register</h1>
<div class="buttons">
	<button class="button button-clear" ng-click="closeLogin()">Close</button>
</div>
</ion-header-bar>
<ion-content padding="10">
<form ng-submit="register(sexe)">
	<div class="list">
		<label class="item item-input">
			<span class="input-label">Email</span>
			<input type="text" ng-model="loginData.email">
		</label>
	</div>
	<div class="list">
		<label class="item item-input">
			<span class="input-label">Pseudo</span>
			<input type="text" ng-model="loginData.pseudo">
		</label>
	</div>
	<div class="list">
		<label class="item">
			<span class="input-label">Age</span>
			<div class="range range-positive">
				<input type="range" name="volume" min="18" max="100" value="{{loginData.min}}" step="1" ng-model="loginData.age">
				{{loginData.age}}
			</div>
		</label>
	</div>
	<div class="list">
		<label class="item item-input item-select">
			<div class="input-label">
				Sexe :
			</div>
			<select ng-model="sexe" ng-change="showSelectValue(mode)">
				<option selected value="1">Mal</option>
				<option value="2">femel</option>
				<option value="3">Autre</option>
			</select>
		</label>
	</div>
	<div class="list">
		<label class="item item-input">
			<span class="input-label">Password</span>
			<input type="password" ng-model="loginData.password">
		</label>
	</div>
	<div class="list">
		<label class="item item-input">
			<span class="input-label">Password</span>
			<input type="password" ng-model="loginData.passwordc">
		</label>
		{{errors}}
	</div>
	<button class="button button-block button-calm" type="submit">Envoyer</button>
</form>
</ion-content>
</ion-modal-view>
